export TEST_DEV=testbucket
export TEST_DIR=/tmp/tigrisfs
export SCRATCH_DEV=testbucket2
export SCRATCH_MNT=/tmp/tigrisfs2
export FSTYP=fuse
export FUSE_SUBTYP=.tigrisfs
export MOUNT_OPTIONS="-o allow_other -o--retry-interval=5s -o--log-file=/tmp/tigrisfs.log -o--endpoint=http://localhost:8080"
export TEST_FS_MOUNT_OPTS="-o allow_other -o--retry-interval=5s -o--log-file=/tmp/tigrisfs.log -o--endpoint=http://localhost:8080"
export UMOUNT_PROG=/home/tigrisfs/xfstests/sync_unmount.py
